# Ignore dataset
Dataset/

# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
.venv/

# Environment variables
.env

# VS Code settings
.vscode/

# Large satellite image files
*.tif
*.tiff